<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'en' }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% seo %}
    <link rel="stylesheet" href="{{ '/assets/main.css' | relative_url }}">

    <!-- Plausible Analytics -->

    <script defer data-domain="cjblackthorn.github.io" src="https://plausible.io/js/script.js"></script>
  </head>

  <body>
    <header class="site-header">
      <div class="wrapper">
        <a class="site-title" rel="author" href="{{ '/' | relative_url }}">
          {{ site.title }}
        </a>
      </div>
    </header>

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    <footer class="site-footer">
      <div class="wrapper">
        <p>{{ site.description }}</p>
        <p>&copy; {{ site.time | date: '%Y' }} {{ site.author.name | default: site.author }}</p>
      </div>
    </footer>
  </body>
</html>
