<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'en' }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% seo %}

    <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
    <link rel="stylesheet" href="{{ '/assets/css/enhancements.css' | relative_url }}">

    <!-- Cloudflare Web Analytics -->
    <script
      defer
      src="https://static.cloudflareinsights.com/beacon.min.js"
      data-cf-beacon='{"token": "a4c64c20d749471cbe37cbcf97c57622"}'>
    </script>
    <!-- End Cloudflare Web Analytics -->
  </head>

  <body>
    {% include site-nav.html %}

    <header class="site-header">
      <div class="wrapper">
        <a class="site-title" rel="author" href="{{ '/' | relative_url }}">
          {{ site.title }}
        </a>
      </div>
    </header>

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    <footer class="site-footer">
      <div class="wrapper">
        <p>{{ site.description }}</p>

        <p>
          &copy; {{ site.time | date: '%Y' }}
          {{ site.author.name | default: site.author }}
        </p>

        <section class="footer-subscribe" aria-label="Subscribe">
          <div class="followit--follow-form-container" attr-a attr-b attr-c attr-d attr-e attr-f>
            <form action="https://api.follow.it/subscription-form/d2VUT2NHS2N6SVVLQ3NyRktQL05BSmJoUmJWNmNjeE0rZHdZeVUrSGp3K0tJZThEM3hSd2NCUi9yU1B1allyc0tINzdjNEFHOTQ0a2NiaUxpaFlETnpWTVNCOWFxTlJ5dkJ2NmMwRzhQT1ExSDJmdExiTU00QnNJbmtiRTRLZVB8Mjh1SzQxZi82b0dKOFRHTDJ0TGJydHc4dXlKOVhWejJLcGNqQ0U5dlpMbz0=/8" method="post">
              <div class="form-preview">
                <div class="preview-heading">
                  <h5>Get new posts by email:</h5>
                </div>

                <div class="preview-input-field">
                  <input
                    type="email"
                    name="email"
                    required
                    placeholder="Enter your email"
                    spellcheck="false">
                </div>

                <div class="preview-submit-button">
                  <button type="submit">Subscribe</button>
                </div>
              </div>
            </form>

            <a href="https://follow.it" class="powered-by-line">
              Powered by
              <img src="https://follow.it/images/colored-logo.svg" alt="follow.it" height="17">
            </a>
          </div>
        </section>

        {% unless page.url == '/support/' %}
          <section class="site-support" aria-label="Support">
            <p>If you'd like to support my work, you can do that here:</p>

            <a class="support-button small-support-button" href="{{ '/support/' | relative_url }}">
              Support C. J. Blackthorn
            </a>
          </section>
        {% endunless %}
      </div>
    </footer>
  </body>
</html>
